%h2
  Posts for
  %span.text-success= @user_info['name']

- @posts.each do |post|
  %p
    %a{ :href => "/posts/#{post.uuid}" }= post.title

    %br

    = post.summary

    %br

    %small
      Created by
      %b= post.first_name || 'anonymous'
      %abbr.timeago{ :title => post.created_at.iso8601 }= post.created_at.strftime '%c'
      and updated
      %abbr.timeago{ :title => post.updated_at.iso8601 }= post.updated_at.strftime '%c'

