.span4
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header
        Popular Tags

      %li
        %span
          - tags = Tag.order(:created_at).limit(20)
          - tags.each_with_index do |tag, i|
            <a href="/tags/#{tag.name}">#{tag.name}</a>#{', ' if i < tags.length - 1}

      - if @graph
        %li.nav-header
          Your Posts

        %li
          %ul
            - Post.where(:facebook_id => @user_id).each do |post|
              %li
                %a{ :href => "/posts/#{post.uuid}" }= post.title

                - if post.public?
                  %span.label.label-success Public
                - else
                  %span.label.label-warning Private

                %br

                = post.summary

                %br

                %small
                  Created
                  %abbr.timeago{ :title => post.created_at.iso8601 }= post.created_at.strftime '%c'
                  %br
                  Updated
                  %abbr.timeago{ :title => post.updated_at.iso8601 }= post.updated_at.strftime '%c'

      - else
        %li.nav-header Sign in
        %li
          %span Please <a href="#" class="signin">sign in</a> to post.

