.span4
  .well.sidebar-nav
    %ul.nav.nav-list
      - tags = Tag.recent.limit 20
      - if tags.length > 0
        %li.nav-header Popular Tags

        %li
          %span
            - tags.each_with_index do |tag, i|
              <a href="/tags/#{tag.name}">#{tag.name}</a>#{', ' if i < tags.length - 1}

      - if @graph
        %li.nav-header Your Feed

        %li
          %span
            <a href="/feeds/#{@user_id}">HTML</a>,
            <a href="/feeds/#{@user_id}.rss">RSS</a>, or
            <a href="/feeds/#{@user_id}.json">JSON</a>

        - posts = Post.for_user_id @user_id
        - if posts.length > 0
          %li.nav-header
            Your Posts

          %li
            - posts.each do |post|
              %p
                %a{ :href => "/posts/#{post.uuid}" }= post.title

                - if post.public?
                  %span.label.label-success Public
                - else
                  %span.label.label-warning Private

                %br

                %small
                  Updated
                  %abbr.timeago{ :title => post.updated_at.iso8601 }= post.updated_at.strftime '%c'

                %br

                %small= post.summary

        - stars = Star.for_user_id(@user_id).recent
        - if stars.count > 0
          %li.nav-header
            Starred Posts

            %li
              - stars.each do |star|
                - post = star.post
                %p
                  %a{ :href => "/posts/#{post.uuid}" }= post.title

                  - if post.public?
                    %span.label.label-success Public
                  - else
                    %span.label.label-warning Private

                  %br

                  %small
                    Updated
                    %abbr.timeago{ :title => post.updated_at.iso8601 }= post.updated_at.strftime '%c'

                  %br

                  %small= post.summary

      - else
        %li.nav-header Sign in
        %li
          %span Please <a href="#" class="signin">sign in</a> to post.

