%h2 Share snippets with Txtur

%p.lead Txtur lets you simply write, then share it with your friends with zero friction.

%p Share a short story, poem, or other snippet of text with people on Facebook.

%p
  Customize your snippets while sharing effortlessly,
  %b in just 3 easy steps!

%ol
  %li Create a snippet, whether it's poetry, code, prose, etc.
  %li Format your text with <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>. Include links, external images, etc.
  %li Effortlessly share your snippets on Facebook, or send people the link!

%p.lead What are you waiting for? Txt urs!

- starred_posts = Post.where(:public => true).where('star_count > 0').order('star_count DESC').limit 5
- if starred_posts.length > 0
  %hr

  %h2 Most Starred Posts
  - starred_posts.each do |post|
    %p
      %a{ :href => "/posts/#{post.uuid}" }= post.title
      %span.label.label-info #{post.star_count} Stars

      %br

      %small
        Created

        - if post.first_name
          by <a href="https://facebook.com/#{post.facebook_id}" title="#{post.full_name}">#{post.first_name}</a>

        and updated
        %abbr.timeago{ :title => post.updated_at.iso8601 }= post.updated_at.strftime '%c'

      %br

      = post.summary

- recent_posts = Post.where(:public => true).order('updated_at DESC').limit 5
- if recent_posts.length > 0
  %hr

  %h2 Most Recent Posts
  - recent_posts.each do |post|
    %p
      %a{ :href => "/posts/#{post.uuid}" }= post.title

      %br

      %small
        Created

        - if post.first_name
          by <a href="https://facebook.com/#{post.facebook_id}" title="#{post.full_name}">#{post.first_name}</a>

        and updated
        %abbr.timeago{ :title => post.updated_at.iso8601 }= post.updated_at.strftime '%c'

      %br

      = post.summary

