%h2 Share snippets with Txtur

%p.lead Txtur lets you simply write, then share it with your friends with zero friction.

%p Share a short story, poem, or some other snippet of text with people on Facebook.

%p
  Customize your snippets while sharing effortlessly,
  %b in just 3 easy steps!

%ol
  %li Create a snippet, whether it's poetry, code, prose, etc.
  %li Format your text with <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>. Include links, external images, etc.
  %li Effortlessly share your snippets on Facebook, or send people the link!

%p.lead What are you waiting for? Txt urs!

%h2 Most Recent Posts

%ul
  - Post.where(:private => 0).order(:created_at).limit(10).each do |post|
    %li
      %a{ :href => "/posts/#{post.uuid}" }= post.title

      - if @user_id == post.facebook_id
        %a{ :href => "/posts/#{post.uuid}/edit" } (edit)

      %br

      = post.summary

      %br

      %small
        Created by
        %b= post.first_name || 'anonymous'
        %abbr.timeago{ :title => post.created_at.iso8601 }= post.created_at.strftime '%c'
        and updated
        %abbr.timeago{ :title => post.updated_at.iso8601 }= post.updated_at.strftime '%c'

