%h2.title
  = @post.title

  - if Star.where(:facebook_id => @user_id).count == 0
    %form.star-action{ :method => 'POST', :action => "/stars?post_id=#{@post.uuid}" }
      %input.btn{ :type => 'submit', :value => 'Star' }
  - else
    %form.star-action{ :method => 'POST', :action => "/stars/#{@post.uuid}" }
      %input{ :type => "hidden", :name => "_method", :value => 'DELETE' }
      %input.btn{ :type => 'submit', :value => 'Unstar' }

  - if @graph && @user_id == @post.facebook_id
    %a.btn.edit-button{ :href => "/posts/#{@post.uuid}/edit" } Edit

    %form.delete-action{ :method => 'POST', :action => "/posts/#{@post.uuid}" }
      %input{ :type => "hidden", :name => "_method", :value => 'DELETE' }
      %input.btn{ :type => 'submit', :value => 'Delete' }

.metadata
  - if @post.public?
    %span.label.label-success Public
  - else
    %span.label.label-warning Private

  %small
    Created

    - if @post.first_name
      by <b><abbr title="#{@post.full_name}">#{@post.first_name}</abbr></b>

    %abbr.timeago{ :title => @post.created_at.iso8601 }= @post.created_at.strftime '%c'
    and updated
    %abbr.timeago{ :title => @post.updated_at.iso8601 }= @post.updated_at.strftime '%c'

    - tags = @post.tags
    - unless tags.empty?
      .tags
        %b Tagged as
        - tags = @post.tags
        - tags.each_with_index do |tag, i|
          <a href="/tags/#{tag.name}">#{tag.name}</a>#{', ' if i < tags.length - 1}

%hr

.contents!= @post.html_contents

%hr

.nav.nav-tabs
  %li.active
    %a.facebook-share{ :href => '#' } Facebook Sharing

  %li
    %a.link-share{ :href => '#' } Link Sharing

.well.share-well
  %textarea.message{ :name => 'message', :placeholder => 'I wrote a snippet with Txtur I\'d like to share with you!' }
  %a.share.btn.btn-primary{ :href => "/shares?id=#{@post.uuid}" } Share on Facebook
  %img#spinner{ :src => asset_path('spinner.gif') }

.well.link-well
  %label Internal link
  %input{ :type => 'text', :readonly => 'readonly', :value => "@#{@post.uuid}" }

  .help-block
    Link to this post within Txtur by pasting the internal link into the contents of another post.

  %label External link
  %input{ :type => 'text', :readonly => 'readonly', :value => url_for(:controller => 'posts', :action => 'show', :id => @post.uuid, :only_path => false) }

  .help-block
    Link to this post by pasting the external link into another website.

