%h2.title
  = @post.title

  - if @graph && @user_id == @post.facebook_id
    %form.actions{ :method => 'POST', :action => "/posts/#{@post.uuid}" }
      %input{ :type => "hidden", :name => "_method", :value => 'DELETE' }
      %a.btn{ :href => "/posts/#{@post.uuid}/edit" } Edit
      %input.btn{ :type => 'submit', :value => 'Delete' }

%p
  - if @post.public?
    %span.label.label-success Public
  - else
    %span.label.label-warning Private

  %small
    Created

    - if @post.first_name
      by <b><abbr title="#{@post.full_name}">#{@post.first_name}</abbr></b>

    %abbr.timeago{ :title => @post.created_at.iso8601 }= @post.created_at.strftime '%c'
    and updated
    %abbr.timeago{ :title => @post.updated_at.iso8601 }= @post.updated_at.strftime '%c'

  .tags
    %small
      %b Tagged as
      - tags = @post.tags
      - tags.each_with_index do |tag, i|
        <a href="/tags/#{tag.name}">#{tag.name}</a>#{', ' if i < tags.length - 1}

  %hr

  .contents!= @post.html_contents

  %hr

.well.share-well
  %textarea.message{ :name => 'message', :placeholder => 'I wrote a snippet with Txtur I\'d like to share with you!' }
  %a.share.btn.btn-primary{ :href => "/shares?id=#{@post.uuid}" } Share on Facebook
  %img#spinner{ :src => asset_path('spinner.gif') }

